.idea/*
.venv
.DS_Store
__pycache__
db.sqlite3
gsb_db.db
source.db
#django-ucamwebauth/


# Avoid comitting user info
scripts/plan_b/pdfs/
scripts/ticket_generation/pdfs/
scripts/ticket_generation/svgs/

