.idea/*
.venv
.DS_Store
__pycache__
db.sqlite3
source.db
#django-ucamwebauth/
workerdocs/
# Avoid comitting user info
scripts/plan_b/pdfs/
scripts/ticket_generation/pdfs/
scripts/ticket_generation/svgs*
scanner/staticfiles/*
scanner/gsbdump.sql
.venv3.11
app/static/*
cdk/node_modules/*
ticket_stats/ticket_sales.xlsx
ticket_stats/ticketSales.txt
