dj-database-url
django
django-s3-storage
django_ses
git+https://github.com/matiasilva/django-ucamwebauth@master
google-auth
google-cloud-storage
gunicorn
Pillow
psycopg2-binary
qrcode
requests
simpleanalytics
whitenoise[brotli]
boto3