boto3
dj-database-url
django
django-s3-storage
django_ses
git+https://github.com/matiasilva/django-ucamwebauth@master
google-auth
google-cloud-storage
gunicorn
Pillow
psycopg2-binary
pyOpenSSL==24.2.1qrcode
requests
simpleanalytics
whitenoise[brotli]
