{% extends "base.html" %}
{% load static %}
{% block style %}
    @font-face {font-family: "Comic Sans MS";
    src: url("{% static 'fonts/comicsans.woff2'%}") format("woff2"), /* chrome firefox */
    url("{% static 'fonts/comicsans.woff'%}.woff") format("woff"), /* chrome firefox */
    url("{% static 'fonts/comicsans.ttf'%}.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    }
    .rainbow-text {
    animation: rainbow 2s linear;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%)
    0 0/200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    }

    main > p, main > h1 {
    font-family: 'Comic Sans MS', sans-serif;
    }

    @keyframes rainbow {
    to {background-position:-200% 0%}
    }
{% endblock %}
{% block main %}
    <!-- <h1 class="fw-bold rainbow-text p-2" style="font-size:calc(3rem + 2.7vw)">Tickets are coming soon!</h1> -->
    <!-- <p class="display-4"><a href="https://i.pinimg.com/originals/6a/ff/e7/6affe715379ae38e72dd430ca22e6f68.jpg">Our engineers</a> have worked tirelessly and have managed to repair the platform! We <span class="rainbow-text">can't wait</span> to welcome you to this year's Girton Spring Ball!</p> -->

    <p class="display-2 rainbow-text text-center" id="demo">Ticket Sales closing at 9pm on 23rd January</p>
    <script>
        // Set the date we're counting down to
        var countDownDate = new Date("Jan 23, 2025 21:00:00").getTime();

        // Update the count down every 1 second
        var x = setInterval(function y() {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            // var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            // var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            // var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            // var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            // document.getElementById("demo").innerHTML = days + "d " + hours + "h "
            //     + minutes + "m " + seconds + "s ";

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "Tickets are now available";
            }
            return y;
        }(), 1000);
    </script>


{% endblock %}