{% extends "base.html" %}
{% load static %}

{% block style%}
    body {
    background-color: #FCFBF4;
    }
{% endblock %}

{% block main %}
    <div class="card mb-4 rounded-3 shadow-sm">

        
        <div class="card-header py-3 text-center">
            <h2 class="my-0 fw-normal">Working at Girton Spring Ball 2024!</h2>
        </div>

        <div class="row">

            <p class="text-center p-4 mx-auto col-md-10">We're looking for enthusiastic individuals to be part of our team for the earliest college ball of the year. Experience
            the fantastic atmosphere as we work together to make it an extraordinary evening. Your role is crucial in ensuring
            that every attendee has a memorable time. Seize the chance to be part of this special occasion – apply now and help us
            make it a night to remember for everyone involved!
            </p>

            <strong class="text-center h4 mb-5">Application deadline: 14th December</strong>

            <h3 class="text-center">Available roles:</h3>

        </div>
        {% include "partials/workerrole_list.html" with qs=worker_form.fields.choice1.queryset only %}
        <p class="h6 text-center mb-3">You will be entitled to 2x30 minute breaks on the day and the National Living Wage</p>

        <div class="card-header p-3 py-3 text-center">
            <h4 class="my-0 fw-normal">Apply to work at the Ball</h4>
        </div>
        <div class="card-body">
            {% if worker_form.errors %}
                {% include "partials/form_errors.html" with form=worker_form only %}
            {% endif %}
            <form action="{% url 'worker_application' %}" method="post" class="mb-3" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3 row">
                    <label for="{{worker_form.name.id_for_label}}" class="col-lg-2 col-form-label">Full Name</label>
                    <div class="col-lg-10">
                        <input name="{{ worker_form.name.html_name }}" type="input" class="form-control " id="{{worker_form.name.id_for_label}}" value="{{worker_form.name.value}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="{{worker_form.crisd.id_for_label}}" class="col-lg-2 col-form-label">CRSid</label>
                    <div class="col-lg-10">
                        <input name="{{ worker_form.crsid.html_name }}" type="input" class="form-control " id="{{worker_form.crsid.id_for_label}}" value="{{worker_form.crsid.value}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="{{worker_form.dob.id_for_label}}" class="col-lg-2 col-form-label">Date of Birth</label>
                    <div class="col-lg-10">
                        <input name="{{ worker_form.dob.html_name }}" type="date" class="form-control " id="{{worker_form.dob.id_for_label}}" value="{{worker_form.dob.value}}">
                    </div>
                </div>
                <div class="mb-3 pb-3">
                    <label for="{{worker_form.college.id_for_label}}" class="form-label">College</label>
                    <select class="form-select" name="{{worker_form.college.html_name}}" id="{{worker_form.college.id_for_label}}">
                        {% for value, college in worker_form.fields.college.choices %}
                            <option value="{{ value|stringformat:'s' }}">{{ college }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3 pb-3">
                    <label for="{{worker_form.choice1.id_for_label}}" class="form-label">First Choice</label>
                    <select class="form-select" name="{{worker_form.choice1.html_name}}" id="{{worker_form.choice1.id_for_label}}">
                        {% for choice in worker_form.fields.choice1.queryset %}
                            <option value="{{ choice.id|stringformat:'s' }}">{{ choice.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3 pb-3">
                    <label for="{{worker_form.choice2.id_for_label}}" class="form-label">Second Choice</label>
                    <select class="form-select" name="{{worker_form.choice2.html_name}}" id="{{worker_form.choice2.id_for_label}}">
                        {% for choice in worker_form.fields.choice2.queryset %}
                            <option value="{{ choice.id|stringformat:'s' }}">{{ choice.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3 pb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" name="{{worker_form.supervisor.html_name}}" id="{{worker_form.supervisor.id_for_label}}">
                        <label class="form-check-label">
                            Are you applying for a supervisor role?
                        </label>
                        <div class="mb-3 pt-3">
                            <strong>NOTE: applications for supervisor roles will involve a short interview over Zoom in January.</strong>
                        </div>
                    </div>
                </div>
                <div class="mb-3 pb-3 row">
                    <label for="{{worker_form.reason.id_for_label}}" class="col-lg-2 col-form-label">Reason</label>
                    <div class="col-lg-10">
                        <textarea style="resize:none" rows="6" name="{{ worker_form.reason.html_name }}" type="input" class="form-control " id="{{worker_form.reason.id_for_label}}" value="{{worker_form.reason.value}}"></textarea>
                    </div>
                    <span class="form-text">
                        Why do you want to work at Girton Spring Ball 2024? (Yeah yeah money ik, but give a 'proper' reason)
                    </span>
                </div>
                <div class="mb-3 pb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" name ="{{worker_form.previous_exp.html_name}}">
                        <label class="form-check-label">
                            Have you worked at a 'May' Ball before?
                        </label>
                    </div>
                </div>
                <div class="mb-3 row pb-3">
                    <label for="{{worker_form.exp_desc.id_for_label}}" class="col-lg-2 col-form-label">Experience details</label>
                    <div class="col-lg-10">
                        <textarea style="resize:none" rows="6" name="{{ worker_form.exp_desc.html_name }}" type="input" class="form-control " id="{{worker_form.exp_desc.id_for_label}}" value="{{worker_form.exp_desc.value}}"></textarea>
                    </div>
                    <span class="form-text">
                        If you have, please include some details about your experience.
                    </span>
                </div>
                <div class="mb-3 row pb-3">
                    <label for="{{worker_form.other_exp.id_for_label}}" class="col-lg-2 col-form-label">Other Experience</label>
                    <div class="col-lg-10">
                        <textarea style="resize:none" rows="6" name="{{ worker_form.other_exp.html_name }}" type="input" class="form-control " id="{{worker_form.other_exp.id_for_label}}" value="{{worker_form.other_exp.value}}"></textarea>
                    </div>
                    <span class="form-text">
                        What other experience do you have that you feel would help you in this role?
                    </span>
                </div>
                <div class="mb-3 row pb-3">
                    <label for="{{worker_form.qualities.id_for_label}}" class="col-lg-2 col-form-label">Qualities</label>
                    <div class="col-lg-10">
                        <textarea style="resize:none" rows="6" name="{{ worker_form.qualities.html_name }}" type="input" class="form-control " id="{{worker_form.qualities.id_for_label}}" value="{{worker_form.qualities.value}}"></textarea>
                    </div>
                    <span class="form-text">
                        What qualities do you have that you feel make you a good fit for this role?
                    </span>
                </div>
                <div class="mb-3 row pb-3">
                    <label for="{{worker_form.friends.id_for_label}}" class="col-lg-2 col-form-label">Co-Worker Requests</label>
                    <div class="col-lg-10">
                        <input name="{{ worker_form.friends.html_name }}" type="input" class="form-control " id="{{worker_form.friends.id_for_label}}" value="{{worker_form.friends.value}}">
                    </div>
                    <span class="form-text">
                        Please list the names of anyone you wish to work with: (please note this will not be guaranteed, but we will try to accommodate what we can!)
                    </span>
                </div>
                <button class="w-100 btn btn-lg btn-primary btn-gsb-alum" type="submit">Submit Application</button>
            </form>
            <p class="text-center text-end">We'll try to get back to you soon</p>
        </div>
    </div>
{% endblock %}